{% macro online_duration(product) %}
{% if product.published_at %}
  <br>Online seit {{ product.published_at.strftime('%d.%m.%Y %H:%M') }}
  {% set delta = product.scraped_at - product.published_at %}
  {% set days = (delta.total_seconds() // 86400) | int %}
  {% set hours = ((delta.total_seconds() % 86400) // 3600) | int %}
  {% if days > 0 %}
    ({{ days }} Tag{{ 'e' if days != 1 else '' }}{% if hours > 0 %}, {{ hours }} Std.{% endif %})
  {% elif hours > 0 %}
    ({{ hours }} Std.)
  {% else %}
    (< 1 Std.)
  {% endif %}
{% endif %}
{% endmacro %}
